body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  position: relative;
  height: 50vh; /* Shortened header height */
  overflow: hidden;
  background-color: #fff;
}

#navbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  padding: 0 1rem;
  background: transparent;
}

#navbar.sticky {
  position: fixed;
  background: rgba(255, 255, 255, 0.6); /* White glassy background */
  backdrop-filter: blur(10px); /* Increased blur effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links.left {
  margin-right: auto;
}

.nav-links.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin: 0 1rem;
}

.nav-content a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s, text-shadow 0.3s;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#navbar.sticky .nav-content a {
  color: #000;
  text-shadow: none;
}

.nav-content a:hover {
  color: #fff;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 1);
}

.nav-content .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content .logo img {
  height: 70px;
  filter: brightness(1.5);
  transition: filter 0.3s, transform 0.3s;
}

.nav-content .logo:hover img {
  filter: brightness(2);
  transform: scale(1.1);
}

#navbar.sticky .nav-content .logo img {
  display: none;
}

#navbar.sticky .nav-content .logo .logo-text {
  display: block;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.logo .logo-text {
  display: none;
}

#logo {
  height: 150px;
  filter: brightness(1.5);
  transition: filter 0.3s, transform 0.3s;
}

#logo:hover {
  filter: brightness(2);
  transform: scale(1.1);
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 0;
  transition: width 0.3s ease-in-out, visibility 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  visibility: hidden;
  opacity: 0;
  margin-left: 10px;
}

.search-bar::placeholder {
  color: #666;
}

.search-container:hover .search-bar {
  width: 150px;
  visibility: visible;
  opacity: 1;
}

.search-icon {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  pointer-events: none;
  transition: color 0.3s;
}

#navbar.sticky .search-icon {
  color: rgba(0, 0, 0, 0.8);
}

.header-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  z-index: 1;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: fixed;
  background-size: cover;
  z-index: 0; /* Ensure the image is behind the overlay */
}

.header-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  z-index: 1; /* Ensure the overlay is above the image but below the content */
}

.header-form {
  height: 50%;
  width: 30%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px); /* Glassy effect */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-bottom: -100px;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  padding: 20px;
  border-radius: 10px;
  z-index: 1;
}

.header-text h1 {
  font-size: 2.5rem;
  margin: 0;
}

.header-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ff6f61;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.header-btn:hover {
  background: darkgray;
  color: #fff;
}

.nav-content .btn {
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  border-radius: 0.5rem;
}

.nav-content .btn:hover {
  background: darkgray;
}

.burger {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.6); /* White glassy background */
  backdrop-filter: blur(10px); /* Increased blur effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: #fff;
}

.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #f1f1f1;
}

.side-nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side-nav .side-logo {
  height: 150px;
  display: block;
  margin: 0 auto;
}

.side-nav-links {
  list-style: none;
  padding: 0;
}

.side-nav-links li {
  margin: 20px 0;
}

#side-nav.active {
  width: 250px;
}
.additional-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #f9f9f9;
  color: #333;
}

.additional-section h2 {
  font-size: 1.5rem;
  color: #888;
  margin-bottom: 10px;
}

.additional-section h3 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.additional-section p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.feature {
  text-align: center;
  max-width: 300px;
  margin: 20px;
}

.feature-icon img {
  height: 50px;
  margin-bottom: 20px;
}

.feature h4 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.feature p {
  font-size: 1rem;
  color: #666;
}
.slider {
  position: relative;
  width: 100%;
  height: 90vh; /* Shortened height */
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.slide.active {
  opacity: 1;
}
.content {
  position: absolute;
  bottom: 20%;
  left: 10%;
  color: white;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5); /* Glassy background */
  padding: 20px;
  border-radius: 10px;
}
.our-story-philosophy-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  text-align: center;
}

.section-content {
  width: 45%;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Optional: for better readability */
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: black; /* Black text color */
}

.section-content h2 {
  margin-bottom: 20px;
}

.section-content p {
  line-height: 1.6;
}

.location-contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  text-align: center;
  background: url(../pic/happy.jpg) no-repeat center center/cover;
  background-attachment: fixed; /* Fixed background */
  position: relative;
  color: black; /* Black text color */
}

.location-contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black shadow overlay */
  z-index: 1;
}

.location {
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2; /* Ensure content is above overlay */
}
.contact-info {
  width: 50%;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 2; /* Ensure content is above overlay */
}

.location iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

.contact-info {
  background: rgba(255, 255, 255, 0.6); /* Glassy effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  line-height: 1.6;
  text-align: left;
}
.contact-info {
  margin: 48px;
}

footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.footer-content {
  position: relative;
  z-index: 2; /* Ensures content is above the overlay */
}
.rings-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.rings {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8; /* Adjust opacity to blend */
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.9); /* Faded border effect */
  border-radius: 30px; /* Optional: rounded corners for a smoother look */
}

.location iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}

.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .section-content,
  .location,
  .contact-info {
    width: 100%;
    margin: 10px 0;
  }

  .location iframe {
    height: 300px;
  }
}
/* Responsive styles */
@media screen and (max-width: 768px) {
  .service {
    flex: 1 1 100%;
  }

  .services h2 {
    font-size: 2em;
  }
  a {
    color: black !important;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links.left,
  .nav-links.right,
  .search-container {
    display: none;
  }

  .burger {
    display: block;
  }

  .logo img {
    height: 70px;
    filter: brightness(1.5);
    transition: filter 0.3s, transform 0.3s;
  }

  #navbar {
    background: rgba(
      255,
      255,
      255,
      0.6
    ); /* White glassy background for navbar */
    backdrop-filter: blur(10px); /* Increased blur effect */
  }

  #side-nav {
    display: block;
  }

  .side-nav {
    width: 0;
  }

  .side-nav.active {
    width: 250px;
  }

  .side-nav .search-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 20px 0;
  }

  .side-nav .search-bar {
    width: 150px;
    visibility: visible;
    opacity: 1;
  }
}

/* Specific styles for the about-section */
.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  z-index: 2;
}

.about-section h1 {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.about-section .icon {
  margin-right: 1rem;
}

.about-section p {
  max-width: 600px;
}

header {
  position: relative;
  height: 100vh; /* Increase header height */
  overflow: hidden;
  background-color: #fff;
}

.header-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #fff;
  z-index: 1;
}

.header-form {
  width: 90%;
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px); /* Glassy effect */
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  margin-bottom: 20px;
}
